.calculatrice{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .display{
    padding: 4rem;
    background: #fff;
    border: 0.1rem solid #aaa;
    color: var(--text);
  }
  .calculatrice-operations{
    min-width: 30rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    .operation{
    background: #eee;
    border: 0.1rem solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    }
    .num{
      background: var(--white);
      border: 0.1rem solid #aaa;
      display: flex;
      align-items: center;
      justify-content: center;  
    }
    .soustraire{
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
    .additionner{
      grid-column: 4 / 5;
      grid-row: 3 / 4;
    }
    .egale{
      grid-column: 4 / 5;
      grid-row: 4 / 6;
    }
  }
}